<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-8 mr-auto ml-auto">
        <!--      Wizard container        -->
        <div class="wizard-container">
          <div class="card card-wizard" data-color="blue" id="wizardProfile">
            <form [formGroup]="type" action="" method="">
              <!--        You can switch " data-color="primary" "  with one of the next bright colors: "green", "orange", "red", "blue" , "rose"      -->
              <div class="card-header text-center">
                <h3 class="card-title">
                  Create New Memeber Profile
                </h3>
                <h5 class="card-description">This information will let us know more about the member.</h5>
              </div>
              <div class="wizard-navigation">
                <div class="wizard-navigation">
                  <ul class="nav nav-pills">
                    <li class="nav-item">
                      <!--personalInfo active-->
                      <a class="nav-link active" href="#personalInfoTab" data-toggle="tab" role="tab">
                        Info
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#addressTab" data-toggle="tab" role="tab">
                        Address
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#policyTab" data-toggle="tab" role="tab">
                        Policy
                        <!-- Beneficiaries  #additionalInfo policyTab -->
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " href="#contactsTab" data-toggle="tab" role="tab">
                        Contacts
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " href="#contractInfoTab" data-toggle="tab" role="tab">
                        Confirmation
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="card-body">
                <div class="tab-content">

                  <!-- PERSONAL INFORMATION -->
                  <div class="tab-pane active" id="personalInfoTab">
                    <h5 class="info-text"> Let's start with the basic information (with validation)</h5>
                    <div class="row justify-content-center">

                      <!-- name  -->
                      <div class="col-sm-6">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">face</i>
                            </span>
                            <mat-form-field class="example-full-width has-label"
                              [ngClass]="displayFieldCss(type, 'firstName')">
                              <input type="text" name="firstName" [(ngModel)]="setmember.name" matInput
                                placeholder="First Name" formControlName="firstName">
                            </mat-form-field>
                          </div>
                        </div>
                      </div>

                      <!-- surname -->
                      <div class="col-sm-6">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">record_voice_over</i>
                            </span>
                            <mat-form-field class="example-full-width has-label"
                              [ngClass]="displayFieldCss(type, 'lastName')">
                              <input type="text" name="lastName" [(ngModel)]="setmember.surname" matInput
                                placeholder="last Name" formControlName="lastName">
                            </mat-form-field>
                          </div>
                        </div>
                      </div>


                      <!-- ID number -->
                      <div class="col-sm-6">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">perm_identity</i>
                          </span>
                          <mat-form-field class="example-full-width has-label"
                            [ngClass]="displayFieldCss(type, 'identityNumber')">
                            <input type="text" name="identityNumber" matInput [(ngModel)]="setmember.identitynumber"
                              (blur)="idNumberCheck(setmember.identitynumber)" (focus)="idNumberValidationDisable()"  placeholder="ID Number" formControlName="identityNumber"
                              minlength="13" maxlength="13"
                              onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                          </mat-form-field>

                        </div>
                        <div class=" row col-12" *ngIf="invalidID">
                          <mat-error>
                            ID number must have 13 digits
                          </mat-error>
                        </div>


                      </div>

                      <!-- Gender -->
                      <div class="col-sm-6">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">wc</i>
                          </span>
                          <mat-form-field class="example-full-width has-label"
                            [ngClass]="displayFieldCss(type, 'gender')">
                            <mat-select placeholder="Select Gender" name="gender"  formControlName="gender"
                              [(ngModel)]="setmember.gender" required>
                              <mat-option *ngFor="let Gender of Genders" [value]="Gender.value ">
                                {{ Gender.value }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>

                      </div>


                      <!-- upload file 
                      <h5 class="info-text"><b>Upload Member Identity Document: </b></h5>
                      <div class="col-12  fileinput-new thumbnail ">
                        <div class="col-6 input-group-prepend mr-auto">
                          <input type="file" [(ngModel)]="file" name="document">
                          <div class="fileinput-preview fileinput-exists thumbnail"></div>
                        </div>
                      </div>

                    -->

                    </div>
                  </div>

                  <!-- ADDRESS -->
                  <div class="tab-pane" id="addressTab">
                    <div class="row justify-content-center">
                      <div class="col-sm-12">
                        <h5 class="info-text"> ADDRESS </h5>
                      </div>
                      <div class="col-sm-12">
                        <h5 class="info-text"> </h5>
                      </div>

                      <!-- House number -->
                      <div class="col-sm-4">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">home</i>
                          </span>
                          <mat-form-field class="example-full-width has-label"
                            [ngClass]="displayFieldCss(type, 'housenumber')">
                            <input type="number" name="housenumber" matInput placeholder="House No."
                              formControlName="housenumber" [(ngModel)]="setmember.housenumber">
                          </mat-form-field>
                        </div>
                      </div>

                      <!-- Street name -->
                      <div class="col-sm-7">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">home</i>
                          </span>
                          <mat-form-field class="example-full-width has-label"
                            [ngClass]="displayFieldCss(type, 'streetname')">
                            <input type="text" name="streetname" matInput placeholder="Street Name"
                              formControlName="streetname" [(ngModel)]="setmember.streetname">
                          </mat-form-field>
                        </div>
                      </div>

                      <!-- Suburb -->
                      <div class="col-sm-6">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">home</i>
                          </span>
                          <mat-form-field class="example-full-width has-label"
                            [ngClass]="displayFieldCss(type, 'suburb')">
                            <input type="text" name="suburb" matInput [(ngModel)]="setmember.suburb"
                              placeholder="Suburb" formControlName="suburb">
                          </mat-form-field>
                        </div>
                      </div>

                      <div class="col-sm-6">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">home</i>
                          </span>
                          <mat-form-field [ngClass]="displayFieldCss(type, 'province')">
                            <mat-select placeholder="Select Province" matInput name="province"
                              formControlName="selectedProvince" [(ngModel)]="setmember.province">
                              <mat-option *ngFor="let province of provinces" [value]=" province.value ">
                                {{ province.value }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>


                  <!-- POLICY CONTRACT  -->
                  <div class="tab-pane" id="policyTab">
                    <div class="row justify-content-center">
                      <div class="col-sm-12">
                        <h5 class="info-text"> POLICY DETAILS </h5>
                      </div>

                      <div class=" row col-12">

                        <div class="col-8">

                          <mat-form-field class="example-full-width has-label"
                            [ngClass]="displayFieldCss(type, 'selectedPolicyType')">
                            <mat-select placeholder="Select policy type" name="policytype"
                              formControlName="selectedPolicyType" [(ngModel)]="setmember.idpolicytype" required>
                              <mat-option *ngFor="let policytype of policytypes; let idx = index"
                                [value]="policytype.id" (click)="testMaximumBeneficiary(idx)">
                                {{ policytype.name }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>

                        </div>

                        <div class="col-4 col-sm-offset-1 checkbox-radios pull-center" *ngIf="unhideCheckBox">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" pull-center type="checkbox" name="addCheckout" value="1"
                                (click)="checkBeneficiary()"> Add beneficiary for member
                              <!-- (click)="checkExtra()"  -->
                              <span class="form-check-sign">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>
                        </div>


                      </div>


                      <div class="col-12 pull-center ml-auto mr-auto" *ngIf="unhideBeneficiaryForm">
                        <label>Maximum number of beneficiaries allowed: <span class="text-primary">
                            {{ beneficiaryCount }} </span> </label>

                      </div>


                      <div class="row" style="margin-top: 0%" *ngIf="unhideBeneficiaryForm">

                        <div class="col-md-12">
                          <div formGroupName="BeneficiaryGroup" class="card" id="cardit">
                            <div formArrayName="beneficiaryArray" class="card-body text-center" style="padding: 0%">

                              <div class="input-group form-control-lg"
                                *ngFor="let beneficiary of BeneficiaryForm; let i = index">

                                <div class="col-4 input-group-prepend">
                                  <span class="input-group-text">
                                    <i class="material-icons">face</i>
                                  </span>
                                  <mat-form-field class="example-full-width has-label">
                                    <input type="text" name="{{'beneficiaryName'+i}}" matInput
                                      id="{{'beneficiaryName'+i}}" placeholder="Name" class="form-control">
                                  </mat-form-field>
                                </div>

                                <div class="col-4 input-group-prepend">
                                  <span class="input-group-text">
                                    <i class="material-icons">record_voice_over</i>
                                  </span>
                                  <mat-form-field class="example-full-width has-label">
                                    <input type="text" name="{{'beneficiarySurname'+i}}" matInput
                                      id="{{'beneficiarySurname'+i}}" placeholder="Surname" class="form-control">
                                  </mat-form-field>
                                </div>

                                <div class="col-5 input-group-prepend">
                                  <span class="input-group-text">
                                    <i class="material-icons">perm_identity</i>
                                  </span>
                                  <mat-form-field class="example-full-width has-label">
                                    <input type="text" id="{{'beneficiaryID'+i}}" name="{{'beneficiaryID'+i}}" matInput
                                      placeholder="ID Number" class="form-control" maxlength="13" minlength="13"
                                      onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                                  </mat-form-field>
                                </div>

                                <button mat-raised-button type="button" class="btn btn-danger btn-just-icon btn-link"
                                  [formGroupName]="i" (click)="removeBeneficiary(i)">
                                  <i class="material-icons">close</i>
                                </button>
                              </div>
                              <br />

                            </div>

                          </div>
                        </div>
                        <div>
                          <button mat-raised-button type="button" (click)="addBeneficiary()"
                            class="btn btn-primary btn-sm" class="add" id="add" style="background-color: lightgrey"><i
                              class="material-icons" [class.active]="i == selectedClaim">add</i>Add another
                            Benefeciary</button>
                        </div>

                        <mat-error *ngIf='limitReached'>
                          <b> Limit Reached</b>
                        </mat-error>
                      </div>




                    </div>
                  </div>


                  <!-- CONTACTS -->
                  <div class="tab-pane" id="contactsTab">
                    <div class="row justify-content-center">
                      <div class="col-sm-12">
                        <h5 class="info-text"> CONTACT INFO</h5>
                      </div>

                      <div class="col-sm-7">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">phone</i>
                            </span>
                          </div>
                          <mat-form-field class="example-full-width" [ngClass]="displayFieldCss(type, 'phone')">
                            <input matInput type="text" minlength="10" maxlength="10" numbersOnly
                              placeholder="Phone No." name="phone" matInput id="contactnumber"
                              formControlName="phone" [(ngModel)]="setmember.contactnumber"
                              onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                          </mat-form-field>
                        </div>
                      </div>

                      <div class="col-lg-10 mt-3">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">email</i>
                            </span>
                          </div>
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Email (required)" [formControl]="emailFormControl" type="email"
                              id="email" name="email" [(ngModel)]="setmember.email">
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>


                  <!-- CONTRACT INFORMATION -->
                  <div class="tab-pane" id="contractInfoTab">
                    <div class="row justify-content-center">
                      <div class="col-sm-12">
                        <h5 class="info-text"> CONTRACT INFO </h5>
                      </div>

                      <div class="row ">

                        <div class="col-md-12">
                          <div class="card text-center" style="background-color: whitesmoke">
                            <div class="card-body">
                              <div id="typography">
                                <div>
                                  <p class="card-description ">

                                    <b class="text-info pull-center">Member Info</b><br />
                                    Firstname: <b>{{ setmember.name | titlecase}} </b> Lastname:
                                    <b>{{ setmember.surname | titlecase}}</b> <br />
                                    Identity number: <b>{{ setmember.identitynumber }}</b> Gender:
                                    <b>{{ setmember.gender | titlecase}}</b> <br />

                                    <br />

                                    <b class="text-info pull-center">Contact Info</b><br />
                                    E-mail: <b>{{ setmember.email }} </b> Contact number:
                                    <b>{{ setmember.contactnumber }}</b>
                                    <br />

                                    <b class="text-info pull-center">Address</b><br />
                                    <b>{{ setmember.housenumber }} , {{ setmember.streetname}} , {{ setmember.suburb }}
                                      , {{ setmember.province }} </b><br />
                                    <br />

                                    <b class="text-info pull-center">Policy Contract Info</b><br />
                                    <b>{{ policytypeDetails.name}}, {{ policytypeDetails.description }}</b> <br />
                                    Trail period: <b>{{ policytypeDetails.trialperiod }}</b> Lapses in:
                                    <b>{{ policytypeDetails.lapsedays }} days</b> Premium: <b
                                      class="text-primary">{{ policytypeDetails.premium  | currency:"ZAR":'symbol-narrow'}}</b><br />
                                    <!--  -->
                                    <b class="pull-center">{{ beneficiaryDetails }}</b>
                                    <br />


                                  </p>
                                  <!--
                                    <p class="card-description">
                                                                    <b>Member Details</b>
                                      Firstname: {{ setmember.name }}           Lastname: {{ setmember.surname }}<br />
                                      Identity number: {{ setmember.identitynumber }} Gender: {{ setmember.gender }}<br />


                                                                   <b>Policy Details</b>
                                      Policy Type: {{ policytype.name }}           Lastname: {{ setmember.surname }}<br />
                                      Identity number: {{ setmember.identitynumber }} Gender: {{ setmember.gender }}<br />


                                                                   <b>Communication Details</b>
                                      E-mail: {{ setmember.email }}           Contact number: {{ setmember.contactnumber }}<br />

                                      House number: {{ setmember.housenumber }}           Street name: {{ setmember.suburb }}<br />
                                      Surbubs: {{ ssetmember.province }}           Province: {{ setmember.streetname}}<br />

                                    </p>
                                  -->
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-12 col-sm-offset-1 checkbox-radios">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input class="form-check-input check-agree" type="checkbox" name="checkTerms"
                                id="checkTerms" value="" (click)="tickToAgree()"> I
                              agree to the Terms of Service
                              <span class="form-check-sign">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>

                  <!--   -->


                </div>
              </div>
              <div class="card-footer">
                <div class="mr-auto">
                  <input type="button" class="btn btn-previous btn-fill btn-default btn-wd disabled" name="previous"
                    value="Previous">
                </div>
                <div class="ml-auto">
                  <input type="button" class="btn btn-next btn-fill btn-info btn-wd" name="next" value="Next">
                  <input type="button" class="btn btn-finish btn-fill btn-success btn-wd" name="finish"
                    (click)="finishCreate()" value="Finish" style="display: none;">
                </div>
                <div class="clearfix"></div>
              </div>
            </form>
          </div>
        </div>
        <!-- wizard container -->
      </div>
    </div>
  </div>
</div>