<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 mr-auto ml-auto">
        <!--      Wizard container        -->
        <div class="wizard-container">
          <div class="card card-wizard" data-color="blue" id="wizardProfile">
            <form [formGroup]="type" action="" method="">
              <!--        You can switch " data-color="primary" "  with one of the next bright colors: "green", "orange", "red", "blue" , "rose"      -->
              <div class="card-header text-center">
                <h3 class="card-title">
                  Build Your Profile
                </h3>
                <h5 class="card-description">This information will let us know more about you.</h5>
              </div>
              <div class="wizard-navigation">
                <div class="wizard-navigation">
                  <ul class="nav nav-pills">
                    <li class="nav-item">
                      <!--personalInfo active-->
                      <a class="nav-link active" href="#personalInfoTab" data-toggle="tab" role="tab" (click)="test()">
                        Info
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#addressTab" data-toggle="tab" role="tab">
                        Address
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#policyTab" data-toggle="tab" role="tab">
                        Policy
                        <!-- Beneficiaries  #additionalInfo policyTab -->
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link nav-primary" href="#beneficiaryTab" data-toggle="tab" role="tab">
                        Beneficiaries
                        <!-- Beneficiaries  #additionalInfo policyTab -->
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " href="#contactsTab" data-toggle="tab" role="tab">
                        Contacts
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " href="#contractInfoTab" data-toggle="tab" role="tab">
                        Contract Info
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="card-body">
                <div class="tab-content">

                  <!-- PERSONAL INFORMATION -->
                  <div class="tab-pane active" id="personalInfoTab">
                    <h5 class="info-text"> Let's start with the basic information (with validation)</h5>
                    <div class="row justify-content-center">

                      <!-- name -->
                      <div class="col-sm-6">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">face</i>
                            </span>
                            <mat-form-field class="example-full-width has-label"
                              [ngClass]="displayFieldCss(type, 'firstName')">
                              <input type="text" name="name" [(ngModel)]="name" matInput id="name"
                                placeholder="First Name" formControlName="firstName">
                            </mat-form-field>
                          </div>
                        </div>
                      </div>

                      <!-- surname -->
                      <div class="col-sm-6">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">record_voice_over</i>
                            </span>
                            <mat-form-field class="example-full-width has-label"
                              [ngClass]="displayFieldCss(type, 'lastName')">
                              <input type="text" name="surname" [(ngModel)]="surname" matInput id="surname"
                                placeholder="last Name" formControlName="lastName">
                            </mat-form-field>
                          </div>
                        </div>
                      </div>


                      <!-- ID number -->
                      <div class="col-sm-6">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">perm_identity</i>
                          </span>
                          <mat-form-field class="example-full-width has-label"
                            [ngClass]="displayFieldCss(type, 'idnumber')">
                            <input type="number" name="identitynumber" matInput [(ngModel)]="identitynumber"
                              id="identitynumber" placeholder="ID Number" formControlName="idnumber" minlength="13">
                          </mat-form-field>

                        </div>
                        <div class="col-12" hidden>
                          <mat-error name="idText" id="idText">
                            ID number must have 13 digits
                          </mat-error>
                        </div>


                      </div>

                      <!-- Gender -->
                      <div class="col-sm-6">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">wc</i>
                          </span>
                          <mat-form-field class="example-full-width has-label">
                            <mat-select placeholder="Select Gender" id="gender" name="gender" formControlName="gender"
                              [(ngModel)]="gender" required>
                              <mat-option *ngFor="let gender of genders" [value]=" gender.value ">
                                {{ gender.name }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>

                      </div>


                      <h5 class="info-text"><b>Upload Member Identity Document: </b></h5>
                      <!-- upload file -->
                      <div class="col-12  fileinput-new thumbnail ">
                        <div class="col-6 input-group-prepend mr-auto">
                          <input type="file" value="upload document" id="document" name="document">
                          <div class="fileinput-preview fileinput-exists thumbnail"></div>
                        </div>
                      </div>



                    </div>
                  </div>


                  <!-- ADDRESS -->
                  <div class="tab-pane" id="addressTab">
                    <div class="row justify-content-center">
                      <div class="col-sm-12">
                        <h5 class="info-text"> ADDRESS INFORMATION </h5>
                      </div>
                      <div class="col-sm-12">
                        <h5 class="info-text"> </h5>
                      </div>

                      <!-- House number -->
                      <div class="col-sm-4">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">home</i>
                          </span>
                          <mat-form-field class="example-full-width has-label"
                            [ngClass]="displayFieldCss(type, 'housenumber')">
                            <input type="number" name="housenumber" matInput id="housenumber" placeholder="House No."
                              formControlName="housenumber" [(ngModel)]="housenumber">
                          </mat-form-field>
                        </div>
                      </div>

                      <!-- Street name -->
                      <div class="col-sm-7">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">home</i>
                          </span>
                          <mat-form-field class="example-full-width has-label"
                            [ngClass]="displayFieldCss(type, 'streetname')">
                            <input type="text" name="streetname" matInput id="streetname" placeholder="Street Name"
                              formControlName="streetname" [(ngModel)]="streetname">
                          </mat-form-field>
                        </div>
                      </div>

                      <!-- House number -->
                      <div class="col-sm-6">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">home</i>
                          </span>
                          <mat-form-field class="example-full-width has-label"
                            [ngClass]="displayFieldCss(type, 'suburb')">
                            <input type="text" name="suburb" matInput [(ngModel)]="suburb" id="suburb"
                              placeholder="Suburb" formControlName="suburb">
                          </mat-form-field>
                        </div>
                      </div>

                      <div class="col-sm-6">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">home</i>
                          </span>
                          <mat-form-field [ngClass]="displayFieldCss(type, 'province')">
                            <mat-select placeholder="Select Province" matInput id="province" name="province"
                              formControlName="selectedProvince" [(ngModel)]="province">
                              <mat-option *ngFor="let province of provinces" [value]=" province.value ">
                                {{ province.viewValue }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>

                  

                  <div class="tab-pane" id="address">
                    <div class="row justify-content-center">
                      <div class="col-sm-12">
                        <h5 class="info-text"> Are you living in a nice area? </h5>
                      </div>
                      <div class="col-sm-7">
                        <mat-form-field class="example-full-width">
                          <input matInput type="text" placeholder="Street Name">
                        </mat-form-field>
                      </div>
                      <div class="col-sm-3">
                        <mat-form-field class="example-full-width">
                          <input matInput type="text" placeholder="Street No.">
                        </mat-form-field>
                      </div>
                      <div class="col-sm-5">
                        <mat-form-field class="example-full-width">
                          <input matInput type="text" placeholder="City">
                        </mat-form-field>
                      </div>
                      <div class="col-sm-5">
                        <mat-form-field>
                          <mat-select placeholder="Single City" name="city">
                            <mat-option *ngFor="let city of cities" [value]="city.value">
                              {{ city.viewValue }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="mr-auto">
                  <input type="button" class="btn btn-previous btn-fill btn-default btn-wd disabled" name="previous"
                    value="Previous">
                </div>
                <div class="ml-auto">
                  <input type="button" class="btn btn-next btn-fill btn-info btn-wd" name="next" value="Next">
                  <input type="button" class="btn btn-finish btn-fill btn-rose btn-wd" name="finish" value="Finish"
                    style="display: none;">
                </div>
                <div class="clearfix"></div>
              </div>
            </form>
          </div>
        </div>
        <!-- wizard container -->
      </div>
    </div>
  </div>
</div>