<div class="main-content">
  <div class="container-fluid">
    <div class="row">
    
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header card-header-rose card-header-text">
            <div class="card-text">
              <h4 class="card-title">Create a Policy</h4>
            </div>
          </div>
          <div class="card-body ">
            <form method="get" action="/" class="form-horizontal">
              <div class="row">
                <label class="col-sm-2 col-form-label">Policy name</label>
                <div class="col-sm-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" name = "policyname" [(ngModel)]="policy.name">
                  </mat-form-field>
                </div>

              </div>
              <div class="row">
                <label class="col-sm-2 col-form-label">Description</label>
                <div class="col-sm-10">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" name = "description" [(ngModel)]="policy.description">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <label class="col-sm-2 col-form-label">Monthly Premium</label>
                <div class="col-sm-2">
                  <mat-form-field class="example-full-width">
                    <input matInput type="number" name = "premium" [(ngModel)]="policy.premium">
                  </mat-form-field>
                </div>

                <label class="col-sm-2 col-form-label">Lapse Days</label>
                <div class="col-sm-2">
                  <mat-form-field class="example-full-width">
                    <input matInput type="number" name = "lapse" [(ngModel)]="policy.lapsedays">
                  </mat-form-field>
                </div>
                <label class="col-sm-2 col-form-label">Trial Period in days</label>
                <div class="col-sm-2">
                  <mat-form-field class="example-full-width">
                    <input matInput type="number" name = "trial" [(ngModel)]="policy.trialperiod">
                  </mat-form-field>
                </div>

              </div>
              <div class="row">
                <label class="col-sm-2 col-form-label">Main Member Age limit</label>
                <div class="col-sm-2">
                  <mat-form-field class="example-full-width">
                    <input matInput type="number" name = "mainagelimit" [(ngModel)]="policy.maximumage">
                  </mat-form-field>
                </div>

                <label class="col-sm-2 col-form-label">Beneficiary Age limit</label>
                <div class="col-sm-2">
                  <mat-form-field class="example-full-width">
                    <input matInput type="number" name = "beneficiaryagelimit" [(ngModel)]="policy.maximumbeneficiaryage">
                  </mat-form-field>
                </div>

            

              </div>
              <div class="row">
               
                <label class="col-sm-2 col-form-label">Maximum allowed Beneficiaries</label>
                <div class="col-sm-2">
                  <mat-form-field class="example-full-width">
                    <input matInput type="number" name = "maxbeneficiaries" [(ngModel)]="policy.maximumbeneficiaries">
                  </mat-form-field>
                </div>

              </div>
            </form>
          </div>
          <div class="card-footer ">
            <button mat-raised-button type="submit" (click) = "createPolicy()" class="btn btn-fill btn-rose">Submit</button>
          </div>
        </div>
      </div>
    
    </div>
  </div>
</div>
