<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="card ">
          <div class="card-header card-header-icon card-header-rose">
            <div class="card-icon">
              <i class="material-icons">perm_identity</i>
            </div>
            <h4 class="card-title">Edit Member Profile -
              <small class="category">Complete your profile</small>
            </h4>
          </div>
          <div class="card-body">
            <form *ngFor="let member of response">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">First Name</label>
                    <input type="text"  [(ngModel)]="name" class="form-control" id="name" name="name" placeholder="{{ member.name }}">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Last Name</label>
                    <input type="text" class="form-control"   [(ngModel)]="surname" id="surname" name="surname"
                      placeholder="{{ member.surname }}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Identity Number</label>
                    <input type="text" class="form-control" id="identitynumber" inputmode="numeric" [(ngModel)]="identitynumber" name="identitynumber"
                      placeholder="{{ member.identitynumber }}" (key)="test(idnumber)" >
                  </div>
                </div>

                <div class="col-md-4">
                  <label class="bmd-label-floating">Gender</label>
                  <div>
                    <mat-form-field>
                      <mat-select placeholder="{{ member.gender }}" id="gender" name="gender"
                        [(ngModel)]="gender">
                        <mat-option *ngFor="let Gender of Genders" [value]="Gender.value">
                          {{ Gender.name | titlecase }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>

              </div>

       

              <div class="row">

                <div class="col-md-5">
                  <div class="form-group">
                    <label class="bmd-label-floating">Email address</label>
                    <input type="text" class="form-control" [(ngModel)]="email" id="email" name="email" placeholder="{{ member.email }}">
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label class="bmd-label-floating">Contact Number</label>
                    <input type="text" inputmode="numeric" [(ngModel)]="contactnumber" class="form-control" id="contactnumber" name="contactnumber"
                      placeholder="{{ member.contactnumber }}">
                  </div>
                </div>

              </div>
              <label class="bmd-label-floating" style="text-align: center; margin-left: 45%"><b>Address</b></label>
              <div class="row">
                <!-- <label class="bmd-label-floating" style="text-align: center; margin-left: 45%">Address</label> -->
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="bmd-label-floating">House Number</label>
                    <input type="number" [(ngModel)]="housenumber" class="form-control" id="housenumber" name="housenumber"
                      placeholder="{{ member.housenumber }}">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Street Name</label>
                    <input type="text" [(ngModel)]="streetname" class="form-control" id="streetname" name="streetname"
                      placeholder="{{ member.streetname }}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <div class="form-group">
                    <label class="bmd-label-floating">Suburb</label>
                    <input type="text" class="form-control" [(ngModel)]="suburb" id="suburb" name="suburb" placeholder="{{ member.suburb }}">
                  </div>
                </div>

                <div class="col-md-4">
                  <label class="bmd-label-floating">Province</label>
                  <div>
                    <mat-form-field>
                      <mat-select placeholder="{{ member.province }}" id="province" name="province"
                        [(ngModel)]="province">
                        <mat-option *ngFor="let Province of Provinces" [value]="Province.value">
                          {{ Province.name | titlecase }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>

              </div>
              <br />
              <button mat-raised-button type="submit" class="btn btn-rose pull-right" (click)="updateMember(name,surname,identitynumber,gender,email,contactnumber,housenumber,streetname,suburb,province)">Update
                Profile</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>