<div class="main-content">
  <div class="container-fluid">
    <div class="mr-auto ml-auto text-center text-primary">
      <h2>Smart Funeral Parlour</h2>
    </div>


    <!--       MEMBERS LINKS            -->
    <div class="row">

        <div class="col-md-4 text-center">
          <a href="/members/searchmember">
  
            <div class="card card-pricing card-raised" data-toggle="tooltip" data-placement="down" title="search for member ">
                <div class="card-body">
    
                  <div class="card-icon icon-rose">
                    <i class="material-icons">recent_actors</i>
                  </div>
                  <h3 class="card-title">Search for Member(s)</h3>
                  <div class="card-footer">
                  </div>
                </div>
              </div>
  
          </a>
  
        </div>

      <div class="col-md-4 text-center">
        <a href="/members/createmember" data-toggle="tooltip" data-placement="down" title="create member">

          <div class="card card-pricing card-raised">
            <div class="card-body">

              <div class="card-icon icon-rose">
                <i class="material-icons">person_add</i>
              </div>
              <h3 class="card-title">Create Members</h3>
              <div class="card-footer">
              </div>
            </div>
          </div>

        </a>

      </div>

      <div class="col-md-4 text-center">
        <a href="/payments/viewpayments" data-toggle="tooltip" data-placement="down" title="view payments">
          
          <div class="card card-pricing card-raised">
              <div class="card-body">
  
                <div class="card-icon icon-rose">
                  <i class="material-icons">payment</i>
                </div>
                <h3 class="card-title">View Payments</h3>
                <div class="card-footer">
                </div>
              </div>
            </div>

        </a>

      </div>

    </div>
    <!--       CLAIMS LINKS            -->
    <div class="row">

      <div class="col-md-4 text-center">
        <a href="/claims/viewallclaims"  data-toggle="tooltip" data-placement="down" title="View Claims">

          <div class="card card-pricing card-raised">
            <div class="card-body">

              <div>
                <div class="card-icon icon-rose">
                  <i class="material-icons">supervisor_account</i>
                </div>
                <div>
                  <h3 class="card-title">View Claims</h3>
                </div>
              </div>


            </div>
          </div>

        </a>

      </div>

      <div class="col-md-4 text-center ">
        <a href="/claims/createclaim" data-toggle="tooltip" data-placement="down" title="create claim">

          <div class="card card-pricing card-raised">
            <div class="card-body">

              <div>
                <div class="card-icon icon-rose">
                  <i class="material-icons">group_add</i> <!-- library_books  -->
                </div>
                <h3 class="card-title">Create Claim</h3>
                
              </div>
            </div>
          </div>

        </a>

      </div>

      <div class="col-md-4 text-center" data-toggle="tooltip" data-placement="down" title="view report">
        <a href="/dashboard">

          <div class="card card-pricing card-raised">
            <div class="card-body">

              <div>
                <div class="card-icon icon-rose">
                  <i class="material-icons">description</i>
                </div>
                <h3 class="card-title">View Report</h3>
              </div>
            </div>
          </div>

        </a>

      </div>

    </div>
    
    

    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="material-icons">person</i>
            </div>
            <p class="card-category">Total Members</p>
            <h3 class="card-title">{{membercount}}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">

            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">supervisor_account</i>
            </div>
            <p class="card-category">Appoved Claims</p>
            <h3 class="card-title">{{appovedclaims}}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">info_outline</i>All approved claims waiting to be approved
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">payment</i>
            </div>
            <p class="card-category">Pending Claims</p>
            <h3 class="card-title">{{pendingclaims}}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">info_outline</i>All pending claims waiting to be approved
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <i class="fa fa-line-chart custom"></i>
            </div>
            <p class="card-category">Declined Claims</p>
            <h3 class="card-title text-success">{{declinedclaims}}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">info_outline</i>Declined claims
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>


