<div class="main-content">
  <div class="container-fluid">
    <div class="mr-auto ml-auto text-center text-primary">
      <h2>Smart Funeral Parlour</h2>
    </div>


    <!--       MEMBERS LINKS            -->
    <div class="row">

      <div class="col-md-6 ">
        <a href="/members/searchmember">

          <div class="card card-pricing card-raised">
            <div class="row card-body">

              <div class="card-icon icon-rose">
                <i class="material-icons">recent_actors</i>
              </div>
              <div class="col-7">
                <h5>View Members</h5>
                Search for member(s) registered to the funeral parlour then view or edit their details
              </div>
            </div>
          </div>

        </a>

      </div>


      <div class="col-md-6">
        <a href="/members/createmember">

          <div class="card card-pricing card-raised">
            <div class="row card-body">

              <div class="card-icon icon-rose">
                <i class="material-icons">person_add</i>
              </div>
              <div class="col-7">
                <h5>Create Members</h5>
                Create/register a new member to the funeral parlour
              </div>
            </div>
          </div>

        </a>

      </div>


      <!--
              <div class="col-md-4 text-center">
        <a href="/members/createmember">

          <div class="card card-pricing card-raised">
            <div class="card-body">

              <div class="card-icon icon-rose">
                <i class="material-icons">perm_identity</i>
              </div>
              <h3 class="card-title">Create Members</h3>
              <div class="card-footer">
                <p class="card-description text-center">
                  Create a new member to the System/funeral parlour
                </p>
              </div>
            </div>
          </div>

        </a>

      </div>
                <a href="/members/searchmember">

          <div class="card card-pricing card-raised">
            <div class=" row card-body">

              <div class="card-icon icon-rose">
                <i class="material-icons">person</i>
              </div>
              <div>
                <h3 class="card-title">Search Member(s)</h3>
                <p class="card-description text-center">
                  Search for member(s) registered to the funeral parlour then view or edit their details
                </p>
              </div>

            </div>
          </div>

        </a>
        --div class="col-md-4 text-center">
        <a href="/dashboard">

          <div class="card card-pricing card-raised">
            <div class="card-body">

              <div class="card-icon icon-rose">
                <i class="material-icons">dashboard</i>
              </div>
              <h3 class="card-title">PLACEHOLDER</h3>
              <div class="card-footer">
                <p class="card-description text-center">
                  DESCRIPTION HERE
                </p>
              </div>
            </div>
          </div>

        </a>

      </div-->


    </div>
    <!--       CLAIMS LINKS            -->
    <div class="row">

      <div class="col-md-4 text-center">
        <a href="/claims/viewallclaims">

          <div class="card card-pricing card-raised">
            <div class="card-body">

              <div>
                <div class="card-icon icon-rose">
                  <i class="material-icons">supervisor_account</i>
                </div>
                <div>
                  <h3 class="card-title">View Claims</h3>
                  <p class="card-description text-center">
                    Search and view claim(s) made to the funeral parlour
                  </p>
                </div>
              </div>


            </div>
          </div>

        </a>

      </div>

      <div class="col-md-4 text-center ">
        <a href="/claims/createclaim">

          <div class="card card-pricing card-raised">
            <div class="card-body">

              <div>
                <div class="card-icon icon-rose">
                  <i class="material-icons">library_books</i>
                </div>
                <h3 class="card-title">Create Claim</h3>
                <p class="card-description text-center">
                  Create a claim for a member
                </p>
              </div>
            </div>
          </div>

        </a>

      </div>

      <div class="col-md-4 text-center">
        <a href="/dashboard">

          <div class="card card-pricing card-raised">
            <div class="card-body">

              <div>
                <div class="card-icon icon-rose">
                  <i class="material-icons">dashboard</i>
                </div>
                <h3 class="card-title">PLACEHOLDER</h3>
                <p class="card-description text-center">
                  DESCRIPTION HERE
                </p>
              </div>
            </div>
          </div>

        </a>

      </div>

    </div>

    <div class="row" hidden>

      <div class="col-lg-6 cards">
        <a class="" href="/members/createmember">
          <div class="card card-chart ">
            <div class="card-body mr-auto ml-auto ">
              <i style="font-size:110px;" class=" icon-primary material-icons">perm_identity</i>
              <h5 class="card-title text-center"> <i style="font-size:15px;" class="material-icons">create</i> Create
                Member </h5>
            </div>

            <div class="card-footer">
              <p class="card-description text-center">Create a new member</p>
            </div>
          </div>
        </a>
      </div>

    </div>

    <div class="row" hidden>
      <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-body">
            <div class="card-actions">
              <button mat-raised-button type="button" class="btn btn-danger btn-link fix-broken-card">
                <i class="material-icons"></i>
              </button>
              <!--button mat-raised-button type="button" class="btn btn-info btn-link" matTooltip="Refresh" >  <!-- [matTooltipPosition]="below" >
                    <i class="material-icons">refresh</i>
                  </button>
                  <button mat-raised-button type="button" class="btn btn-default btn-link" matTooltip="Change Date" > <!-- [matTooltipPosition]="below">
                    <i class="material-icons">edit</i>
                  </button -->
            </div>
            <p class="card-category stats">View or create member</p>
            <h4 class="card-title"><a href="/members/searchmember">View Member</a></h4>
          </div>
          <div class="card-footer">
            <h4 class="card-title"><a href="/members/createmember">Create Member</a></h4>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-body">
            <div class="card-actions">
              <button mat-raised-button type="button" class="btn btn-danger btn-link fix-broken-card">
                <i class="material-icons"></i>
              </button>
            </div>
            <p class="card-category stats">View or create claim(s) for member</p>
            <h4 class="card-title"><a href="/claims/viewallclaims">View Claims</a></h4>
          </div>
          <div class="card-footer">
            <h4 class="card-title"><a href="/claims/createclaim">Create Claims</a></h4>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-body">
            <div class="card-actions">
              <button mat-raised-button type="button" class="btn btn-danger btn-link fix-broken-card">
                <i class="material-icons"></i>
              </button>
            </div>
            <p class="card-category stats">View all payments made</p>
            <h4 class="card-title"><a href="/payments/viewpayments">View Payments</a></h4>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i> Last Payment: 2 days ago
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="material-icons">person</i>
            </div>
            <p class="card-category">Total Members</p>
            <h3 class="card-title">N/A</h3>
          </div>
          <div class="card-footer">
            <div class="stats">

            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">supervisor_account</i>
            </div>
            <p class="card-category">Total Claims</p>
            <h3 class="card-title">N/A</h3>
          </div>
          <div class="card-footer">
            <div class="stats">

            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">payment</i>
            </div>
            <p class="card-category">Revenue</p>
            <h3 class="card-title">N/A</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">info_outline</i>Payments made this month
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="fa fa-line-chart custom"></i>
            </div>
            <p class="card-category">Progress</p>
            <h3 class="card-title text-success">N/A</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">info_outline</i>Progress of member registered this month
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--div class="loader hidden" (load)="load()">
    <img src="./assets/img/loading7.gif" alt="Loading... "/>
    </div-->
  </div>
</div>



<!--
load

    <h3>Manage Listings</h3>
    <br>
    <div class="row">
      <div class="col-md-4">
        <div class="card card-product">
          <div class="card-header card-header-image" data-header-animation="true">
            <a href="#pablo">
              <img class="img" src="./assets/img/card-2.jpg">
            </a>
          </div>
          <div class="card-body">
            <div class="card-actions text-center">
              <button mat-raised-button type="button" class="btn btn-danger btn-link fix-broken-card">
                <i class="material-icons">build</i> Fix Header!
              </button>
              <button mat-raised-button type="button" class="btn btn-default btn-link" matTooltip="View" [matTooltipPosition]="below">
                <i class="material-icons">art_track</i>
              </button>
              <button mat-raised-button type="button" class="btn btn-success btn-link" matTooltip="Edit" [matTooltipPosition]="below">
                <i class="material-icons">edit</i>
              </button>
              <button mat-raised-button type="button" class="btn btn-danger btn-link" matTooltip="Remove" [matTooltipPosition]="below">
                <i class="material-icons">close</i>
              </button>
            </div>
            <h4 class="card-title">
              <a href="#pablo">Cozy 5 Stars Apartment</a>
            </h4>
            <div class="card-description">
              The place is close to Barceloneta Beach and bus stop just 2 min by walk and near to "Naviglio" where you can enjoy the main night life in Barcelona.
            </div>
          </div>
          <div class="card-footer">
            <div class="price">
              <h4>$899/night</h4>
            </div>
            <div class="stats">
              <p class="card-category"><i class="material-icons">place</i> Barcelona, Spain</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-product">
          <div class="card-header card-header-image" data-header-animation="true">
            <a href="#pablo">
              <img class="img" src="./assets/img/card-3.jpg">
            </a>
          </div>
          <div class="card-body">
            <div class="card-actions text-center">
              <button mat-raised-button type="button" class="btn btn-danger btn-link fix-broken-card">
                <i class="material-icons">build</i> Fix Header!
              </button>
              <button mat-raised-button type="button" class="btn btn-default btn-link" matTooltip="View" [matTooltipPosition]="below">
                <i class="material-icons">art_track</i>
              </button>
              <button mat-raised-button type="button" class="btn btn-success btn-link" matTooltip="Edit" [matTooltipPosition]="below">
                <i class="material-icons">edit</i>
              </button>
              <button mat-raised-button type="button" class="btn btn-danger btn-link" matTooltip="Remove" [matTooltipPosition]="below">
                <i class="material-icons">close</i>
              </button>
            </div>
            <h4 class="card-title">
              <a href="#pablo">Office Studio</a>
            </h4>
            <div class="card-description">
              The place is close to Metro Station and bus stop just 2 min by walk and near to "Naviglio" where you can enjoy the night life in London, UK.
            </div>
          </div>
          <div class="card-footer">
            <div class="price">
              <h4>$1.119/night</h4>
            </div>
            <div class="stats">
              <p class="card-category"><i class="material-icons">place</i> London, UK</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-product">
          <div class="card-header card-header-image" data-header-animation="true">
            <a href="#pablo">
              <img class="img" src="./assets/img/card-1.jpg">
            </a>
          </div>
          <div class="card-body">
            <div class="card-actions text-center">
              <button mat-raised-button type="button" class="btn btn-danger btn-link fix-broken-card">
                <i class="material-icons">build</i> Fix Header!
              </button>
              <button mat-raised-button type="button" class="btn btn-default btn-link" matTooltip="View" [matTooltipPosition]="below">
                <i class="material-icons">art_track</i>
              </button>
              <button mat-raised-button type="button" class="btn btn-success btn-link" matTooltip="Edit" [matTooltipPosition]="below">
                <i class="material-icons">edit</i>
              </button>
              <button mat-raised-button type="button" class="btn btn-danger btn-link" matTooltip="Remove" [matTooltipPosition]="below">
                <i class="material-icons">close</i>
              </button>
            </div>
            <h4 class="card-title">
              <a href="#pablo">Beautiful Castle</a>
            </h4>
            <div class="card-description">
              The place is close to Metro Station and bus stop just 2 min by walk and near to "Naviglio" where you can enjoy the main night life in Milan.
            </div>
          </div>
          <div class="card-footer">
            <div class="price">
              <h4>$459/night</h4>
            </div>
            <div class="stats">
              <p class="card-category"><i class="material-icons">place</i> Milan, Italy</p>
            </div>
          </div>
        </div>
      </div>
    </div>

-->