<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="card ">
          <div class="card-header card-header-icon card-header-rose">
            <div class="card-icon">
              <i class="material-icons">supervisor_account</i>
            </div>
            <h4 class="card-title text-center">Select Deceased to continue creating claim
              <small class="category"></small>
            </h4>
          </div>
          <div class="card-body">
            <!----------*ngFor="let member of singleMember"------------------------------------------------------------------------------------------------------------->

            <form>

              <!--   Select deceased     -->
              <div class="row">

                <!--

                <div class="col-10" hidden>
                  <label class="bmd-label-floating">Select Deceased to continue creating claim</label>
                  <div>
                    <mat-form-field>
                      <mat-select placeholder="Select" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedDeceased" data-toggle="tooltip" data-placement="down"
                      title="Name, Surname, Id number">
                        <mat-option [value]="member.idmember">
                          {{ member.name | titlecase }}, {{ member.surname | titlecase }},
                          {{ member.identitynumber | titlecase }}
                        </mat-option>
                        <mat-option *ngFor="let beneficiary of beneficiaries" [value]="beneficiary.idbeneficiary">
                          {{ beneficiary.name | titlecase }}, {{ beneficiary.surname | titlecase }},
                          {{ beneficiary.identitynumber | titlecase }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>

-->

                <div class="col-10">
                  <label class="bmd-label-floating">Select Deceased to continue creating claim</label>
                  <div>
                    <mat-form-field>
                      <mat-select placeholder="Name, Surnmae, Identity number" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="selectedDeceased" data-toggle="tooltip" data-placement="down">
                        <mat-option [value]="member.idmember" (click)="selectDeceased()">
                          {{ member.name | titlecase }}, {{ member.surname | titlecase }},
                          {{ member.identitynumber | titlecase }}
                        </mat-option>
                        <mat-option *ngFor="let beneficiary of beneficiaries" (click)="selectDeceased()"
                          [value]="beneficiary.idbeneficiary">
                          {{ beneficiary.name | titlecase }}, {{ beneficiary.surname | titlecase }},
                          {{ beneficiary.identitynumber | titlecase }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <h5 *ngIf="selected" class="bmd-label-floating text-center"><b> Fill in to create
                    claim </b></h5>
                <div  *ngIf="selected">


                  <div class="row">

                    <div class="col-md-6">
                      <div>
                        <mat-form-field>
                          <mat-select placeholder="Select the claim type" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="claim.idclaimtype">
                            <mat-option *ngFor="let claimtype of claimtypes" [value]="claimtype.idclaimtype">
                              {{ claimtype.name | titlecase }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>


                    <div class="col-md-6">

                      <div>
                        <mat-form-field>
                          <mat-select placeholder="Select payout type" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="claim.idpayouttype">
                            <mat-option *ngFor="let payouttype of payouttypes" [value]="payouttype.idpayouttype">
                              {{ payouttype.name | titlecase }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>


                  </div>


                  <label class="bmd-label-floating text-center"><b>Funeral
                      details</b></label>

                  <div class="row">
                    <div class="col-md-7">
                      <label class="bmd-label-floating">Place of death</label>
                      <input type="text" class="form-control" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="claim.placeofdeath" placeholder="name of place where the deceased passed on">

                    </div>

                    <div class="col-md-6 mr-auto">
                      <mat-form-field>
                        <input matInput [matDatepicker]="picker2" class="form-control"
                          [ngModelOptions]="{standalone: true}" [(ngModel)]="claim.dateofdeath"
                          placeholder="Select date of death" (click)="picker2.open()">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                      </mat-form-field>
                    </div>

                    <div class="col-md-6 mr-auto">
                      <mat-form-field>
                        <input matInput [matDatepicker]="picker" class="form-control" placeholder="Select burial date"
                          [ngModelOptions]="{standalone: true}" [(ngModel)]="claim.proposedburialdate"
                          (click)="picker.open()">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    </div>


                  </div>

                </div>




              </div>



              <br />
              <button mat-raised-button *ngIf="selected" type="submit" class="btn btn-rose pull-right"
                (click)="createClaim()">Submit
                Claim</button>
              <div class="clearfix"></div>
            </form>

            <!----------
                
              
                ------------------------------------------------------------------------------------------------------------->
            <!--
            
          -->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>