<div class="image-container set-full-height" style="background-image: url('assets/img/download.png')">
    <a href="" class="made-with-mk">
            <div class="brand">PM</div>
            <div class="made-with"><strong>Profile Management</strong></div>
        </a>
      
        <!--   Big container   -->
        <div class="container">
                <div class="row">
                        <div class="col-sm-12 ">
<div class="row" class="d-flex justify-content-center">
     <div class="col-md-4" > 
            <div class="card">
                <div class="card-content" >
                    <h4 class="card-title">Image</h4>
                    <div class="row">
                        <br>
                        <div class="col-md-12 text-center">
                            <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                <div class="fileinput-new thumbnail">
                                    <img src="{{ImageUpload}}">
                                </div>
                                <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                <div>
                                        <label>Full Names :</label>
                                        <h4 class="card-title">{{fullnames}}</h4>
                                        <label>Email :</label>
                                    <h6 class="category text-gray">
                                      <label>{{email}}</label>
                                    </h6>
                                    
                                   
                                    <!-- <a href="" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i>  Remove</a> -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

  

</div>
</div>
</div>
</div>
</div>