<div class="main-content">
  <div class="container-fluid">
    <div class="row">
    
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header card-header-rose card-header-text">
            <div class="card-text">
              <h4 class="card-title">Edit a Policy</h4>
            </div>
          </div>
          <div class="card-body ">
            <form method="get" action="/" class="form-horizontal">
              <div class="row">
                <label class="col-sm-2 col-form-label">Policy name</label>
                <div class="col-sm-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="{{policytype.name}}" type="text" name = "policyname" [(ngModel)]="setpolicytype.name">
                  </mat-form-field>
                </div>

              </div>
              <div class="row">
                <label class="col-sm-2 col-form-label">Description</label>
                <div class="col-sm-10">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="{{policytype.description}}" type="text" name = "description" [(ngModel)]="setpolicytype.description">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <label class="col-sm-2 col-form-label">Monthly Premium</label>
                <div class="col-sm-2">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="{{policytype.premium}}" type="number" name = "premium" [(ngModel)]="setpolicytype.premium">
                  </mat-form-field>
                </div>

                <label class="col-sm-2 col-form-label">Lapse Days</label>
                <div class="col-sm-2">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="{{policytype.lapsedays}}" type="number" name = "lapse" [(ngModel)]="setpolicytype.lapsedays">
                  </mat-form-field>
                </div>
                <label class="col-sm-2 col-form-label">Trial Period in days</label>
                <div class="col-sm-2">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="{{policytype.trialperiod}}" type="number" name = "trial" [(ngModel)]="setpolicytype.trialperiod">
                  </mat-form-field>
                </div>

              </div>

              <div class="row">
                  <label class="col-sm-2 col-form-label">Main Member minimum Age limit: </label>
                  <div class="col-sm-2">
                    <mat-form-field class="example-full-width">
                      <input matInput type="number" name = "mainagelimit" placeholder="{{policytype.minimumage}}" [(ngModel)]="setpolicytype.minimumage">
                    </mat-form-field>
                  </div>
  
                  <label class="col-sm-2 col-form-label">Main Member maximum Age limit: </label>
                  <div class="col-sm-2">
                    <mat-form-field class="example-full-width">
                      <input matInput type="number" name = "mainagelimit" [(ngModel)]="setpolicytype.maximumage" placeholder="{{policytype.maximumage}}">
                    </mat-form-field>
                  </div>
  
                </div>
                <div class="row">
                    <label class="col-sm-2 col-form-label">Beneficiary min Age limit</label>
                    <div class="col-sm-2">
                      <mat-form-field class="example-full-width">
                        <input matInput type="number" name = "beneficiaryagelimit" [(ngModel)]="setpolicytype.minimumbeneficiaryage"  placeholder="{{policytype.minimumbeneficiaryage}}">
                      </mat-form-field>
                    </div>
  
                    <label class="col-sm-2 col-form-label">Beneficiary max Age limit</label>
                    <div class="col-sm-2">
                      <mat-form-field class="example-full-width">
                        <input matInput type="number" name = "beneficiaryagelimit" [(ngModel)]="setpolicytype.maximumbeneficiaryage" placeholder="{{policytype.maximumbeneficiaryage}}">
                      </mat-form-field>
                    </div>
                 
                  <label class="col-sm-2 col-form-label">Maximum allowed Beneficiaries</label>
                  <div class="col-sm-2">
                    <mat-form-field class="example-full-width">
                      <input matInput type="number" name = "maxbeneficiaries" [(ngModel)]="setpolicytype.maximumbeneficiaries" placeholder="{{policytype.maximumbeneficiaries}}">
                    </mat-form-field>
                  </div>
  
                </div>
            </form>
          </div>
          <div class="card-footer ">
            <button mat-raised-button type="submit" (click) = "editPolicy()" class="btn btn-fill btn-rose">Submit</button>
          </div>
        </div>
      </div>
    
    </div>
  </div>
</div>
