<div class="image-container set-full-height" style="background-image: url('assets/img/download.png')">


  <!--  Made With Material Kit  -->
  <a  class="made-with-mk">
      <div class="brand">EM</div>
      <div class="made-with"><strong>Employee Management</strong></div>
  </a>

  <!--   Big container   -->
  <div class="container">
      <div class="row">
          <div class="col-sm-12 ">
              <!--      Wizard container        -->
              <div class="wizard-container">
                  <div class="card wizard-card" data-color="red" id="wizard">
                      <form action="" method="">
                          <!--        You can switch " data-color="blue" "  with one of the next bright colors: "green", "orange", "red", "purple"             -->

                          <div class="wizard-header">
                              <h3 class="wizard-title">
                                  Employee Management
                              </h3>
                              <!-- <h5>This information will let us know more about you.</h5> -->
                          </div>
                          <div class="wizard-navigation">
                              <ul>
                                  <li><a href="#employeeLeave" data-toggle="tab">Employees Details</a></li>
                                  <li><a href="#approvedLeave" data-toggle="tab">Approved Leaves</a></li>
                                  <li><a href="#pendingLeave" data-toggle="tab">Pending Leaves</a></li>
                                  <li><a href="#rejectedLeave" data-toggle="tab">Rejected Leaves</a></li>
                                  <li><a href="#allLeave" data-toggle="tab">ALL Leaves</a></li>
                              </ul>
                          </div>

                          <div class="tab-content">
                              <div class="tab-pane" id="employeeLeave">
                                  <div class="row">
                                      <table class="table table-striped">
                                          <thead>
                                              <tr>
                                                  <th></th>
                                                  <th style="display:none;"></th>
                                                  <th>Name</th>
                                                  <th>Email</th>
                                                 
                                              </tr>
                                          </thead>
                                          <tbody>
                                              <tr>
                                            <tr *ngFor="let emp of allemployees; let i = index;">
                                                            {{i+1}}
                                                <td style="display:none;">{{emp.id}}</td>
                                                <td>{{emp.fullnames}}</td>
                                                <td>{{emp.email}}</td>
                                                  <td>
                                                   

                                                  </td>
                                                 
                                               
                                              </tr>
                                             </tbody>
                                             <tfoot>
                                                    <!-- <label id="results">No Alerts Data at the moment</label> -->
                                                    <tr>
                                                        <th></th>
                                                        <th style="display:none;"></th>
                                                        <th>Name</th>
                                                        <th>Email</th>
                                                        
                                                    </tr>
                                                    <tr>
                                                      <!-- <td colspan="7">
                                                        <span id="paginator">
                                                          <button type="button" rel="tooltip" (click)="getFirstAlert();" id="first_page" title="First page" class="btn btn-primary btn-round btn-fab btn-fab-mini">
                                                            <i class="material-icons">first_page</i>
                                                          </button>
                                                            <button type="button" rel="tooltip" (click)="getPrevousAlert();" id="fast_rewind" title="Previous page" class="btn btn-primary btn-round btn-fab btn-fab-mini">
                                                              <i class="material-icons">keyboard_arrow_left</i>
                                                            </button>
                                
                                                          <span>
                                                           {{pageNo}} of {{totalPageNo}}
                                                          </span>
                                
                                                            <button type="button" rel="tooltip" (click)="getNextAlert();" id="fast_forward" title="Next page" class="btn btn-primary btn-round btn-fab btn-fab-mini">
                                                              <i class="material-icons">keyboard_arrow_right</i>
                                                            </button>
                                                            <button type="button" rel="tooltip" (click)="getLastAlert();" id="last_page" title="Last page" class="btn btn-primary btn-round btn-fab btn-fab-mini">
                                                              <i class="material-icons">last_page</i>
                                                            </button>
                                                        </span>
                                                      </td> -->
                                                    </tr>
                                                  </tfoot>
                                      </table>
                                  </div>
                              </div>

                              <div class="tab-pane" id="approvedLeave">
                          
                                    <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th style="display:none;"></th>
                                                    <th>Leave Type</th>
                                                    <th>Start Date</th>
                                                    <th>End Date</th>
                                                    <th>Days Taken</th>
                                                    <th>Status</th>
                                                    <th>Reason</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let leave of approvedleave; let i = index;">
                                                    {{i+1}}
                                                    <td style="display:none;">{{leave.id}}</td>
                                                    <td>{{leave.leaveType}}</td>
                                                    <td>{{leave.startdate}}</td>
                                                    <td>{{leave.enddate}}</td>
                                                    <td>{{leave.nodaystaken}}</td>
                                                    <td>{{leave.status}}</td>
                                                    <td>{{leave.reason}}</td>


                                                    <a href="#/forms/editleavedetails">
                                                      <button type="button" rel="tooltip" (click)="Onclick();" id="update"
                                                        title="Update leave details" class="btn btn-warning">
                                                        <i class="material-icons">update</i>
                                                      </button>
                                                    </a>
                                                </tr>
                                              
                                            </tbody>
                                            <tfoot>
                                                <!-- <label id="results">No Alerts Data at the moment</label> -->
                                                <tr>
                                                    <th></th>
                                                    <th style="display:none;"></th>
                                                    <th>Leave Type</th>
                                                    <th>Start Date</th>
                                                    <th>End Date</th>
                                                    <th>Days Taken</th>
                                                    <th>Status</th>
                                                    <th>Reason</th>
                                                    <th>Actions</th>
                                                </tr>
                                                <tr>
                                                  <td colspan="7">
                                                    <span id="paginator">
                                                      <button type="button" rel="tooltip" (click)="getFirstAlert();" id="first_page" title="First page" class="btn btn-primary btn-round btn-fab btn-fab-mini">
                                                        <i class="material-icons">first_page</i>
                                                      </button>
                                                        <button type="button" rel="tooltip" (click)="getPrevousAlert();" id="fast_rewind" title="Previous page" class="btn btn-primary btn-round btn-fab btn-fab-mini">
                                                          <i class="material-icons">keyboard_arrow_left</i>
                                                        </button>
                            
                                                      <span>
                                                       {{pageNo}} of {{totalPageNo}}
                                                      </span>
                            
                                                        <button type="button" rel="tooltip" (click)="getNextAlert();" id="fast_forward" title="Next page" class="btn btn-primary btn-round btn-fab btn-fab-mini">
                                                          <i class="material-icons">keyboard_arrow_right</i>
                                                        </button>
                                                        <button type="button" rel="tooltip" (click)="getLastAlert();" id="last_page" title="Last page" class="btn btn-primary btn-round btn-fab btn-fab-mini">
                                                          <i class="material-icons">last_page</i>
                                                        </button>
                                                        <!-- <select name="rowsOnPageSet" id="rowsOnPageSet" class="dropdown-toggle btn btn-primary" (ngModelChange)="onChangePageFilter();" >
                                                          <option *ngFor="let index of rowsPageArray" [value]="index">
                                                              {{index}}
                                                          </option>
                                                        </select> -->
                                                    </span>
                                                    <!-- <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50,100]"></mfBootstrapPaginator> -->
                                                  </td>
                                                </tr>
                                              </tfoot>
                                        </table>
                            </div>
                            <div class="tab-pane" id="pendingLeave">
                          
                                    <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th style="display:none;"></th>
                                                    <th>Leave Type</th>
                                                    <th>Start Date</th>
                                                    <th>End Date</th>
                                                    <th>Days Taken</th>
                                                    <th>Status</th>
                                                    <th>Reason</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let leave of Pendingleaves; let i = index;">
                                                    {{i+1}}
                                                    <td style="display:none;">{{leave.id}}</td>
                                                    <td>{{leave.leaveType}}</td>
                                                    <td>{{leave.startdate}}</td>
                                                    <td>{{leave.enddate}}</td>
                                                    <td>{{leave.nodaystaken}}</td>
                                                    <td>{{leave.status}}</td>
                                                    <td>{{leave.reason}}</td>

                                                    <a href="#/forms/editleavedetails">
                                                      <button type="button" rel="tooltip" (click)="Onclick();" id="update"
                                                        title="Update leave details" class="btn btn-warning">
                                                        <i class="material-icons">update</i>
                                                      </button>
                                                    </a>
                                                </tr>
                                              
                                            </tbody>
                                            <tfoot>
                                                <!-- <label id="results">No Alerts Data at the moment</label> -->
                                                <tr>
                                                    <th></th>
                                                    <th style="display:none;"></th>
                                                    <th>Leave Type</th>
                                                    <th>Start Date</th>
                                                    <th>End Date</th>
                                                    <th>Days Taken</th>
                                                    <th>Status</th>
                                                    <th>Reason</th>
                                                    <th>Actions</th>
                                                </tr>
                                                <tr>
                                                  <td colspan="7">
                                                    <span id="paginator">
                                                      <button type="button" rel="tooltip" (click)="getFirstAlert();" id="first_page" title="First page" class="btn btn-primary btn-round btn-fab btn-fab-mini">
                                                        <i class="material-icons">first_page</i>
                                                      </button>
                                                        <button type="button" rel="tooltip" (click)="getPrevousAlert();" id="fast_rewind" title="Previous page" class="btn btn-primary btn-round btn-fab btn-fab-mini">
                                                          <i class="material-icons">keyboard_arrow_left</i>
                                                        </button>
                            
                                                      <span>
                                                       {{pageNo}} of {{totalPageNo}}
                                                      </span>
                            
                                                        <button type="button" rel="tooltip" (click)="getNextAlert();" id="fast_forward" title="Next page" class="btn btn-primary btn-round btn-fab btn-fab-mini">
                                                          <i class="material-icons">keyboard_arrow_right</i>
                                                        </button>
                                                        <button type="button" rel="tooltip" (click)="getLastAlert();" id="last_page" title="Last page" class="btn btn-primary btn-round btn-fab btn-fab-mini">
                                                          <i class="material-icons">last_page</i>
                                                        </button>
                                                        <!-- <select name="rowsOnPageSet" id="rowsOnPageSet" class="dropdown-toggle btn btn-primary" (ngModelChange)="onChangePageFilter();" >
                                                          <option *ngFor="let index of rowsPageArray" [value]="index">
                                                              {{index}}
                                                          </option>
                                                        </select> -->
                                                    </span>
                                                    <!-- <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50,100]"></mfBootstrapPaginator> -->
                                                  </td>
                                                </tr>
                                              </tfoot>
                                        </table>
                            </div>
                            <div class="tab-pane" id="rejectedLeave">
                                  <div class="row">
                                        <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th style="display:none;"></th>
                                                        <th>Leave Type</th>
                                                        <th>Start Date</th>
                                                        <th>End Date</th>
                                                        <th>Days Taken</th>
                                                        <th>Status</th>
                                                        <th>Reason</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let leave of rejectedleave; let i = index;">
                                                        {{i+1}}
                                                        <td style="display:none;">{{leave.id}}</td>
                                                        <td>{{leave.leaveType}}</td>
                                                        <td>{{leave.startdate}}</td>
                                                        <td>{{leave.enddate}}</td>
                                                        <td>{{leave.nodaystaken}}</td>
                                                        <td>{{leave.status}}</td>
                                                        <td>{{leave.reason}}</td>
    
                                                        <a href="#/forms/editleavedetails">
                                                          <button type="button" rel="tooltip" (click)="Onclick();" id="update"
                                                            title="Update leave details" class="btn btn-warning">
                                                            <i class="material-icons">update</i>
                                                          </button>
                                                        </a>
                                                    </tr>
                                                  
                                                </tbody>
                                                <tfoot>
                                                    <!-- <label id="results">No Alerts Data at the moment</label> -->
                                                    <tr>
                                                        <th></th>
                                                        <th style="display:none;"></th>
                                                        <th>Leave Type</th>
                                                        <th>Start Date</th>
                                                        <th>End Date</th>
                                                        <th>Days Taken</th>
                                                        <th>Status</th>
                                                        <th>Reason</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                    <tr>
                                                      <td colspan="7">
                                                        <span id="paginator">
                                                          <button type="button" rel="tooltip" (click)="getFirstAlert();" id="first_page" title="First page" class="btn btn-primary btn-round btn-fab btn-fab-mini">
                                                            <i class="material-icons">first_page</i>
                                                          </button>
                                                            <button type="button" rel="tooltip" (click)="getPrevousAlert();" id="fast_rewind" title="Previous page" class="btn btn-primary btn-round btn-fab btn-fab-mini">
                                                              <i class="material-icons">keyboard_arrow_left</i>
                                                            </button>
                                
                                                          <span>
                                                           {{pageNo}} of {{totalPageNo}}
                                                          </span>
                                
                                                            <button type="button" rel="tooltip" (click)="getNextAlert();" id="fast_forward" title="Next page" class="btn btn-primary btn-round btn-fab btn-fab-mini">
                                                              <i class="material-icons">keyboard_arrow_right</i>
                                                            </button>
                                                            <button type="button" rel="tooltip" (click)="getLastAlert();" id="last_page" title="Last page" class="btn btn-primary btn-round btn-fab btn-fab-mini">
                                                              <i class="material-icons">last_page</i>
                                                            </button>
                                                            <!-- <select name="rowsOnPageSet" id="rowsOnPageSet" class="dropdown-toggle btn btn-primary" (ngModelChange)="onChangePageFilter();" >
                                                              <option *ngFor="let index of rowsPageArray" [value]="index">
                                                                  {{index}}
                                                              </option>
                                                            </select> -->
                                                        </span>
                                                        <!-- <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50,100]"></mfBootstrapPaginator> -->
                                                      </td>
                                                    </tr>
                                                  </tfoot>
                                            </table>
                                    
                                  </div>
                              </div>
                              <div class="tab-pane" id="allLeave">
                                    <div class="row">
                                            <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th style="display:none;"></th>
                                                            <th>Leave Type</th>
                                                            <th>Start Date</th>
                                                            <th>End Date</th>
                                                            <th>Days Taken</th>
                                                            <th>Status</th>
                                                            <th>Reason</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let leave of allLeaves; let i = index;">
                                                            {{i+1}}
                                                            <td style="display:none;">{{leave.id}}</td>
                                                            <td>{{leave.leaveType}}</td>
                                                            <td>{{leave.startdate}}</td>
                                                            <td>{{leave.enddate}}</td>
                                                            <td>{{leave.nodaystaken}}</td>
                                                            <td>{{leave.status}}</td>
                                                            <td>{{leave.reason}}</td>

                                                            <a href="#/forms/editleavedetails">
                                                              <button type="button" rel="tooltip" (click)="Onclick();" id="update"
                                                                title="Update leave details" class="btn btn-warning">
                                                                <i class="material-icons">update</i>
                                                              </button>
                                                            </a>
                                                        </tr>
                                                      
                                                    </tbody>
                                                    <tfoot>
                                                        <!-- <label id="results">No Alerts Data at the moment</label> -->
                                                        <tr>
                                                            <th></th>
                                                            <th style="display:none;"></th>
                                                            <th>Leave Type</th>
                                                            <th>Start Date</th>
                                                            <th>End Date</th>
                                                            <th>Days Taken</th>
                                                            <th>Status</th>
                                                            <th>Reason</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                        <tr>
                                                          <!-- <td colspan="7">
                                                            <span id="paginator">
                                                              <button type="button" rel="tooltip" (click)="getFirstAlert();" id="first_page" title="First page" class="btn btn-primary btn-round btn-fab btn-fab-mini">
                                                                <i class="material-icons">first_page</i>
                                                              </button>
                                                                <button type="button" rel="tooltip" (click)="getPrevousAlert();" id="fast_rewind" title="Previous page" class="btn btn-primary btn-round btn-fab btn-fab-mini">
                                                                  <i class="material-icons">keyboard_arrow_left</i>
                                                                </button>
                                    
                                                              <span>
                                                               {{pageNo}} of {{totalPageNo}}
                                                              </span>
                                    
                                                                <button type="button" rel="tooltip" (click)="getNextAlert();" id="fast_forward" title="Next page" class="btn btn-primary btn-round btn-fab btn-fab-mini">
                                                                  <i class="material-icons">keyboard_arrow_right</i>
                                                                </button>
                                                                <button type="button" rel="tooltip" (click)="getLastAlert();" id="last_page" title="Last page" class="btn btn-primary btn-round btn-fab btn-fab-mini">
                                                                  <i class="material-icons">last_page</i>
                                                                </button>
                                                                <select name="rowsOnPageSet" id="rowsOnPageSet" class="dropdown-toggle btn btn-primary" (ngModelChange)="onChangePageFilter();" >
                                                                  <option *ngFor="let index of rowsPageArray" [value]="index">
                                                                      {{index}}
                                                                  </option>
                                                                </select>
                                                            </span>
                                                             <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50,100]"></mfBootstrapPaginator>
                                                          </td> -->
                                                        </tr>
                                                      </tfoot>
                                                </table>
                                      
                                    </div>
                                </div>
                          </div>




                      </form>
                  </div>
              </div> <!-- wizard container -->
          </div>
      </div> <!-- row -->
  </div> <!--  big container -->


</div>
  